.background
{
	background: #E5E5E5;
}


.container
{
	position: absolute;
width: 558px;
height: 560px;
left: 441px;
top: 170px;

background: #FFFFFF;

}

.title
{

position: absolute;
width: 355px;
height: 49px;
left: 543px;
top: 196px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.container1
{
	position: absolute;
width: 364px;
height: 78px;
left: 538px;
top: 299px;


}


.paragraph1
{
   position: absolute;
width: 51.81px;
height: 16px;
left: 538px;
top: 299px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}


.text_box
{
  position: absolute;
width: 256.3px;
height: 16px;
left: 547.54px;
top: 335px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #A4A4A4;

}

.linea
{
	
	position: absolute;
width: 364px;
height: 0px;
left: 538px;
top: 356px;

border: 2px solid #535353;
}



.campo_obbligatorio
{
	position: absolute;
width: 137.69px;
height: 13px;
left: 538px;
top: 364px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
/* identical to box height */

display: flex;
align-items: center;

color: #FF0000;
}

.container2
{
	position: absolute;
width: 364px;
height: 78px;
left: 538px;
top: 392px;
}

.paragraph2
{
   position: absolute;
width: 211.31px;
height: 16px;
left: 538px;
top: 392px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;

}


.text_box2
{
  position: absolute;
width: 207.22px;
height: 16px;
left: 547.54px;
top: 428px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #A4A4A4;


}

.linea2
{
	
	position: absolute;
width: 364px;
height: 0px;
left: 538px;
top: 356px;

border: 2px solid #535353;
}



.campo_obbligatorio2
{
	position: absolute;
width: 137.69px;
height: 13px;
left: 538px;
top: 364px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
/* identical to box height */

display: flex;
align-items: center;

color: #FF0000;
}


.container3
{
	position: absolute;
width: 364px;
height: 78px;
left: 538px;
top: 485px;


}



.paragraph3
{
   position: absolute;
width: 211.31px;
height: 16px;
left: 538px;
top: 392px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;

}


.text_box3
{
  position: absolute;
width: 207.22px;
height: 16px;
left: 547.54px;
top: 428px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #A4A4A4;


}

.linea3
{
	
	position: absolute;
width: 364px;
height: 0px;
left: 538px;
top: 356px;

border: 2px solid #535353;
}



.campo_obbligatorio3
{
	position: absolute;
width: 137.69px;
height: 13px;
left: 538px;
top: 364px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
/* identical to box height */

display: flex;
align-items: center;

color: #FF0000;
}


.calcola
{
position: absolute;
width: 364px;
height: 35px;
left: 538px;
top: 597px;

background: #D0CFFF;
}


.title2
{
	position: absolute;
width: 364px;
height: 43px;
left: 538px;
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}
